.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero-without-image {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  margin-top: 200px;
  padding: 80px 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.hero-wrapper-two {
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border: 1px solid rgba(56, 152, 236, .58);
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}



.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.button-primary-top {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  border: 1px solid rgba(56, 152, 236, .58);
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
  width: 100%
}
.button-primary-top:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-top:active {
  background-color: #43464d;
}

.form-block {
  min-width: 50%;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.lottie-animation {
  width: 50%;
  height: 34%;
  border: 1px rgba(56, 152, 236, .58);
  margin-top: 0%;
  margin-left: 0%;
  padding-left: 0%;
  position: absolute;
  top: 20%;
  left: 25%;
}

.heading-5 {
  width: 50%;
  height: 9%;
  color: #000;
  text-align: center;
  -webkit-text-stroke-color: #3898ec;
  margin-top: 0%;
  margin-bottom: 0;
  margin-right: 0%;
  padding-right: 5%;
  position: absolute;
  top: 65%;
  left: 28%;
}

.button {
  width: 15%;
  height: 20%;
  max-height: none;
  color: #252424;
  text-align: center;
  -webkit-text-fill-color: inherit;
  object-fit: contain;
  background-color: rgba(56, 152, 236, 0);
  background-clip: border-box;
  border: 1px solid #000;
  border-radius: 13px;
  margin-top: 10%;
  margin-left: 10%;
  display: block;
  position: relative;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding: 20px 2% 0 0%;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  outline-offset: 0px;
  outline: 3px #333;
  flex-wrap: nowrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5%;
  margin-left: 0%;
  text-decoration: none;
  display: flex;
}

.nav-menu-two {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #1a1b1f;
  letter-spacing: .25px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
  border-radius: 11px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link.clicked {
  background-color: rgba(56, 152, 236, .29);
}

.nav-dropdown {
  margin-left: -20px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  letter-spacing: .25px;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 2px;
  height: 22px;
  color: #000;
  background-color: #e4ebf3;
  margin-left: 7px;
  margin-right: 7px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  margin-left: 6px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary-2:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary-2:active {
  background-color: #43464d;
}

.list-item {
  border: 1px #000;
  flex: 0 auto;
  margin-left: 0;
  padding-left: 0;
}

.rich-text-block {
  text-align: center;
  margin-top: 0%;
}

.image {
  width: 52%;
  height: 77%;
  min-height: 63%;
  min-width: 51.9988%;
  text-align: center;
  object-fit: fill;
  position: relative;
  left: 25%;
}

.rich-text-block-2 {
  text-align: center;
  font-size: 14%;
}

.link {
  width: 100%;
  height: 30%;
  min-height: 20px;
  text-align: center;
  -webkit-text-stroke-color: #982d2d;
  text-transform: capitalize;
  background-color: rgba(84, 90, 90, 0);
  border: 1px #000;
  border-radius: 14px;
  margin-top: 0%;
  padding-top: 0%;
  font-size: 40px;
  font-style: italic;
  text-decoration: none;
  display: block;
  position: relative;
  top: 17%;
  bottom: -100%;
  left: 0%;
}

.quick-stack {
  height: 900px;
  margin-top: 50px;
  padding-top: 20px;
  position: relative;
  top: 37%;
  bottom: 50%;
}

.cell {
  text-align: left;
  border: 2px dashed #000;
  border-radius: 6px;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 0%;
  padding-bottom: 0;
  text-decoration: none;
  display: block;
}

.heading-6 {
  width: 100.1%;
  height: 7%;
  text-align: center;
  object-fit: contain;
  background-color: rgba(56, 152, 236, .58);
  border: 1px #000;
  border-top-style: solid;
  border-radius: 6px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-decoration: underline;
  position: relative;
  top: .01%;
  bottom: 0%;
  left: 0%;
}

.rich-text-block-3 {
  text-align: center;
}

.text-field {
  border: 1px solid rgba(56, 152, 236, .58);
}

.image-2 {
  outline-offset: 0px;
  outline: 2px solid #333;
}

.lottie-animation-4 {
  width: 50%;
  height: 34%;
  margin-top: 1%;
  margin-left: 2%;
  position: absolute;
  top: 20%;
  left: 25%;
}

@media screen and (max-width: 991px) {
  .container, .container-2 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .rich-text-block-2 {
    text-align: center;
    font-size: 13px;
  }

  .link {
    width: 100%;
    font-size: 250%;
    line-height: 100%;
    left: 0%;
  }
}

@media screen and (max-width: 767px) {
  .hero-without-image {
    padding: 60px 15px;
  }

  .heading-5 {
    top: 55%;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    display: block;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .heading-5 {
    width: 100%;
    top: 50%;
    left: 0%;
  }

  .button {
    width: 20%;
    height: 5%;
    object-fit: fill;
    position: static;
  }

  .bold-text {
    text-align: center;
  }

  .container-2 {
    max-width: none;
  }

  .nav-menu-two {
    text-align: left;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }

  .menu-button {
    flex: 0 auto;
    align-self: auto;
    display: flex;
  }

  .quick-stack {
    width: 100%;
  }

  .heading-6 {
    min-width: 100%;
    object-fit: scale-down;
    font-size: 150%;
    overflow: visible;
  }

  .heading-6._2 {
    min-width: 100%;
  }

  .heading-6.ai {
    padding-left: 0%;
    padding-right: 0%;
  }

  .image-2 {
    margin-left: 2%;
  }

  .lottie-animation-4 {
    width: 95%;
    margin-left: -10%;
    left: 12%;
  }

  .rich-text-block-4 {
    display: inline-block;
    position: relative;
  }
}

#w-node-ed423765-bae6-cafc-6fe8-f7254f9eff8a-1757c249 {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#w-node-ed423765-bae6-cafc-6fe8-f7254f9eff8b-1757c249, #w-node-ed423765-bae6-cafc-6fe8-f7254f9eff93-1757c249, #w-node-ed423765-bae6-cafc-6fe8-f7254f9eff96-1757c249 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 479px) {
  #w-node-ed423765-bae6-cafc-6fe8-f7254f9eff8a-1757c249 {
    grid-template-rows: auto;
    grid-template-columns: minmax(152px, .25fr) 1fr 1fr;
    display: grid;
  }
}


